body, html, p, ul, li, h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-family: "PingFang SC", "Microsoft Yahei", Simsun, sans-serif;
}

/*大标题*/
.index-title {
    width: 100%;
    text-align: center;

}

.index-title h1 {
    font-size: 35px;
    color: rgba(42, 42, 42, 0.8);
    font-weight: 300;
    margin: 10px 0;
}

.index-title p {
    font-size: 14px;
    color: rgba(113, 113, 113, 0.8);
    margin: 0;
}

/******大标题结束******/

/*分页样式*/

#pagination {
    text-align: right;
    margin-top: 40px;
}

#pagination li {
    display: inline-block;
    padding: 3px 8px;
    border: 1px solid #d3d3d3;
    margin: 5px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
}

#pagination li a {
    text-decoration: none;
    color: inherit;
}

#pagination .active {
    color: #4A90E2!important;
    border: 1px solid #4A90E2!important;
}

/*分页样式完毕*/

.index-separate-line {
    border: none;
    border-top: 1px solid #d3d3d3;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-80 {
    margin-top: 80px!important;
}

.margin-top-120 {
    margin-top: 120px!important;
}

.margin-bottom-80 {
    margin-bottom: 80px!important;
}

.margin-bottom-50 {
    margin-bottom: 50px!important;
}