.gallery-container {
    width: 70%;
    max-width:  1350px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.gallery-title {
    text-align: left;
}

.gallery-content {
    width: 100%;
}

.tab-pane {
    font-size: 0;
    margin-top: 30px;
    display: none;
}

.tab-pane.active {
    display: block;
}

.gallery-nav-tabs {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #d3d3d3;
    list-style: none;
    font-size: 0;
    color: rgba(42, 42, 42, 0.7);
    letter-spacing: 0;
    margin-top: 50px;
}

.gallery-nav-tabs li {
    display: inline-block;
    font-size: 12px;
    height: 20px;
    width: 11%;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    border-right: 1px solid #d3d3d3;
}

.gallery-nav-tabs li a {
    text-decoration: none;
    color: inherit;
}

.active-btn {
    color: #000!important;
}

.gallery-project-item {
    width: 25%;
    box-sizing: border-box;
    display: inline-block;
    padding-right: 20px;
    margin: 20px 0;
}

.gallery-project-item img {
    width: 100%;
}

.gallery-project-item h1 {
    font-size: 16px;
    border-bottom: 1px solid #d3d3d3;
    color: rgba(0, 0, 0, 0.8);
    padding-bottom: 15px;
    margin: 15px 0;
}

.gallery-project-item h1 a {
    text-decoration: none;
    color: inherit;
}

.gallery-project-item h1 a:hover {
    color: #4A90E2;
}

.gallery-project-item p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.project-table {
    font-size: 14px;
    color: #717171;
    letter-spacing: 0.78px;
    width: 100%;
    border: 1px solid #DEE3E6;
    text-align: center;
    border-spacing: 0px;
}

.project-table tr th {
    background: #717171;
    color: #fff;
    font-weight: 300;
    padding: 10px 0;
    border-right: 1px solid #DEE3E6;
}

.project-table tr td {
    color: #717171;
    letter-spacing: 0.78px;
    font-weight: 300;
    padding: 10px 0;
    border-right: 1px solid #DEE3E6;
    border-top: 1px solid #DEE3E6;
}

.no-border {
    border: none;
}