body, html, p, ul, li, h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-family: "PingFang SC", "Microsoft Yahei", Simsun, sans-serif;
}

.swiper-container, .swiper-container img {
    width: 100%;
}

.news-container {
    width: 90%;
    max-width: 1390px;
    margin: 0 auto;
}

.index-news-content {
    font-size: 0;
    padding: 50px 5% 30px;
}

.index-news-content .inner-img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
.inner-img img{
    width: 200px;
}

.index-title {
    width: 100%;
    text-align: center;

}

.index-title h1 {
    font-size: 35px;
    color: rgba(42, 42, 42, 0.8);
    font-weight: 300;
    margin: 10px 0;
}

.index-title p {
    font-size: 14px;
    color: rgba(113, 113, 113, 0.8);
    margin: 0;
}

.index-news-inner {
    width: calc(100% - 200px);
    height: 200px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    padding-left: 30px;
}

.index-news-inner, .inner-title {
    font-size: 18px;
    font-weight: 500;
    color: #717171;
    text-align:justify;
}

.index-news-inner .inner-content {
    font-size: 14px;
    font-weight: 300;
    color: #717171;
    height: 150px;
}

.inner-content p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.index-news-inner .inner-footer {
    font-size: 17px;
    font-weight: 300;
    color: #717171;
}

.inner-footer .read {
    float: right;
    font-size: 18px;
    color: #4A90E2;
}

.inner-title img {
    float: right;
}

.inner-title span, .inner-title img {
    vertical-align: middle;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-80 {
    margin-top: 80px!important;
}

.margin-bottom-80 {
    margin-bottom: 80px!important;
}

.more {
    font-size: 20px;
    color: #4A90E2;
    letter-spacing: 2px;
    text-align: center;
    margin: 50px;
}

.left-project {
    position: relative;
    width: 37.5%;
    display: inline-block;
}

.left-project img {
    width: 100%;
}

.project-bottom {
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 16px;
    padding: 0 20px;
    box-sizing: border-box;
}

.right-project {
    width: 62.5%;
    display: inline-block;
    box-sizing: border-box;
    padding-left: 20px;
}

.right-project img {
    width: 100%;
}

.img-box, .half-project {
    position: relative;
}

.half-project {
    width: 50%;
    display: inline-block;
    padding: 20px 10px 0 0;
    box-sizing: border-box;
}

.padding-left {
    padding: 0 0 0 10px;
}

.index-aboutus {
    text-align: center;
    max-width: 1050px;
    margin: 0 auto;
    font-size: 12px;
    color: rgba(42, 42, 42, 0.6);
    letter-spacing: 1.8px;
}

.index-aboutus p {
    margin: 20px 0;
}

.index-footer {
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.index-footer p {
    margin: 20px 0;
    color: rgba(42, 42, 42, 0.6);
}

.index-separate-line {
    border: none;
    border-top: 1px solid #d3d3d3;
}

@media screen and (min-width: 1300px) {
    .index-aboutus {
        font-size: 14px;
    }
}